body {   
    background-color: #f4f4f6;
    font-family: 'Noto Sans TC', sans-serif;
}

img{
    max-width:100%;
    height:auto;
}
.custom-navbar, .custom-footer {color: #f4f4f6; background:#1e1e1e;}
.custom-navbar {height: 3em;}
.custom-footer {font-family: serif; font-size: .5em;}
.custom-nav-item, .logo {
    text-align : center;
}
.custom-nav-item {
    padding: 3px 0px;
    width: 75px;
    color: #f4f4f6;
    text-decoration: none;
}
.custom-nav-item:hover, .item-active {
    color: #f4f4f6;
    border-radius: 5px;
    border: solid 1px #555555;
    font-weight:bold;
}

.custom-container {text-align: center; max-width: 1130px;  position: relative;}

.select-btn>a {
    display: inline-block;
    padding: 7px 30px;
    color: #333;
    margin-top: 20px;
    margin-bottom: 20px;
    text-decoration: none;
    font-size: 1em;
    border-bottom: solid 1px transparent;
}
.select-btn>a:hover {
    border-bottom: solid 1px #333;
}
#combo {
    margin: 0px 0px 25px;
}
#combo>div {
    overflow: hidden;
    margin-bottom: 10px;
    padding-left: 5px;
    padding-right: 5px;
}
#combo a {
    color: #1e1e1e;
    text-decoration: none;
}
.ds {
    -lifekit-transform: scale(0);
    transform: scale(0);
    -lifekit-transition: all 350ms ease;
    transition: all 350ms ease;
}
.scale {
    transform: scale(1);
}

.back-to-top {
    display:none;
    position: fixed;
    bottom: 1em;
    right: 0px;
    text-decoration: none;
    padding: 5px;
    z-index: 30;
}